# Configuration for building SlugOS

# Extra flags, read docs/flags.md for explaination of supported flags
EXTRA_DEFINES ?= DEBUG

# Assembler and compiler
AS = nasm
CC = i686-elf-gcc
CXX = i686-elf-g++

# C flags (default flags, additional ones can be added via EXTRA_DEFINES)
CFLAGS = -g -c -std=gnu99 -ffreestanding -Wall -Wextra -Ikernel/headers -fstack-protector-all

# C++ Flags
CXXFLAGS = -g -c -ffreestanding -Wall -Wextra -fno-exceptions -fno-rtti -fstack-protector-all -Ikernel/headers -fno-use-cxa-atexit

# Flags for QEMU
QEMUFLAGS = -device ne2k_isa

# Linker flags
LDFLAGS = -ffreestanding -O2 -nostdlib

CFLAGS += $(foreach DEFINE,$(EXTRA_DEFINES),-D$(DEFINE))
CXXFLAGS += $(foreach DEFINE,$(EXTRA_DEFINES),-D$(DEFINE))

# Source files
SRCS = $(shell find kernel -name "*.s" -o -name "*.c" -o -name "*.cpp")

# Kernel target and object files
TARGET = slug.elf
OBJS = $(SRCS:.s=.o)
OBJS := $(OBJS:.c=.o)
OBJS := $(OBJS:.cpp=.o)
