# Configuration for Makefile

# Assembler and compiler
AS = i686-elf-as
CC = i686-elf-gcc

# C flags (default flags, additional ones can be added via EXTRA_DEFINES)
CFLAGS = -g -c -std=gnu99 -ffreestanding -Wall -Wextra -Ikernel/headers -fstack-protector-all

# Flags for QEMU
QEMUFLAGS = -device ne2k_isa

# Linker flags
LDFLAGS = -ffreestanding -O2 -nostdlib

# Extra flags, read docs/flags.md for explaination of supported flags
EXTRA_DEFINES ?= DEBUG
CFLAGS += $(foreach DEFINE,$(EXTRA_DEFINES),-D$(DEFINE))

# Source files
SRCS = $(shell find kernel -name "*.s" -o -name "*.c")

# Kernel target and object files
TARGET = slug.elf
OBJS = $(SRCS:.s=.o)
OBJS := $(OBJS:.c=.o)
